body {
  background-color: #282c34;
  color: #61dafb;
}

.App {
  text-align: center;
  padding-top: 145px;
}

.border {
  border: 3px solid #61dafb;
  border-radius: 10px;
}

.main-wrapper {
  width: 590px;
  height: 350px;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 10px;
}

.display-wrapper {
  height: 153px;
  margin-bottom: 15px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-bar-wrapper {
  height: 100px;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-wrapper-text {
  font-size: 35px;
  font-weight: bold;
}

.input {
  all: unset;
  background-color: #fff;
  width: 250px;
  border: 3px solid #61dafb;
  border-radius: 10px;
  color: #000;
  font-weight: bold;
  font-size: 19px;
}

.button-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-value {
  font-size: 150px;
  font-weight: bold;
}

.display-wrapper-counter {
  justify-content: center;
}

.button-bar-wrapper-counter {
  padding: 0 35px;
  justify-content: space-between;
}

.button {
  all: unset;
  background-color: #61dafb;
  color: #282c34;
  padding: 0 25px;
  border-radius: 10px;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
}

.button:disabled {
  background-color: #555c5c;
  cursor: default;
}

.limit-value {
  color: #ff0000;
}

.incorect-value-input {
  border: 3px solid #ff0000;
  background-color: rgb(223, 147, 147);
}